<div class="row">
    <div class="col-xs-6 col-md-3" ng-repeat="bouquet in collectionToShow">
        <a class="thumbnail">
            <img ng-if="bouquet.default_bouquet.image_urls.website_medium" ng-src="{{bouquet.default_bouquet.image_urls.website_medium}}" alt="bouquet.default_bouquet.description" imageonload>
            <img ng-if="!bouquet.default_bouquet.image_urls.website_medium" src="img/no_image_available.png" alt="bouquet.default_bouquet.description" imageonload>
        </a>
    </div>
</div>