<!doctype html>
<html lang="en" ng-app="DeveloperTestApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Developer test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="js/lib/lib.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

</head>
<body>
<div class="container">
    <div ui-view="main"></div>
</div>

<script src="js/app/app.js"></script>
</body>
</html>
<script type="text/ng-template" id="collection.html">
    <div class="row" ng-class="{'padding-bottom' : !!activeItem}">
        <div class="col-xs-6 col-md-3" ng-repeat="bouquet in collectionToShow">
            <div class="text-center">{{ bouquet.name }}</div>
            <a class="thumbnail price" ng-click="sortPricing(bouquet.pricings, bouquet)"
               ng-class="{'active-item' : activeItem === bouquet.id}">
                <img ng-if="bouquet.default_bouquet.image_urls.website_medium"
                     ng-src="{{bouquet.default_bouquet.image_urls.website_medium}}"
                     alt="bouquet.default_bouquet.description" imageonload>
                <img ng-if="!bouquet.default_bouquet.image_urls.website_medium" src="img/no_image_available.png"
                     alt="bouquet.default_bouquet.description" imageonload>
                <span>{{ getLowerPrice(bouquet) }} £</span>
            </a>
        </div>
    </div>
    <div class="bottom" ng-show="!!activeItem">
        <div class="text-center">
            <h3>{{ selectedPricing.quantity }} develeries</h3>
        </div>
        <div ui-slider="slider.options"
             min="0"
             max="{{ lengthPricing }}"
             ng-model="sliderValue">
        </div>
        <div class="text-center"><h2>{{ selectedPricing.amount }} £</h2></div>
    </div>
</script>
<script type="text/ng-template" id="menu.html">
<ul class="nav nav-tabs">
    <li role="presentation" ng-repeat="collection in collections" ng-class="{'active' : selectedSlugCollection == collection.slug}">
        <a ui-sref='menu.collection({collection: collection.slug})'>{{collection.name}}</a>
    </li>
</ul>
<div ui-view="content"></div>
</script>